*.code-workspace
.terraform
*.tfstate
*.tfstate.backup
*.info
*.tfvars
*.tfvars.json
*.log
aztfexport/*
*.txt
/vault/core/*
/vault/data/*
/vault/logical/*
/vault/logs/*
/vault/sys/*
*.hcl
.venv/
.vscode/
*.bin
*.json